body {
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    background: #000;
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 20px;
}

.logo {
    &__link {
        display: block;
        position: relative;
        width: 177px;
        height: 93px;
    }
    &__img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 8px;
        left: 0;
        background-image: url(../images/logo-img.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.button {
    border: 3px solid #fff;
    border-radius: 81px;
    padding: 14px 70px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    background-color: transpaernt;
    color: #fff;
    transition: color 0.3s, background-color 0.3s;
    &:hover,
    &:focus {
        background: #fff;
        color: #000;
    }
}
