@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
.header {
    height: 100vh;
    background: linear-gradient(180deg, #000000 5.58%, rgba(0, 0, 0, 0.35) 31.25%, rgba(0, 0, 0, 0.46) 61.61%, rgba(0, 0, 0, 0.47) 76.69%, #000000 100%), url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@import 'media';