@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
.header {
    .conntainer {
        min-height: 100vh;
    }
    background: linear-gradient(180deg, #000000 5.58%, rgba(0, 0, 0, 0.35) 31.25%, rgba(0, 0, 0, 0.46) 61.61%, rgba(0, 0, 0, 0.47) 76.69%, #000000 100%),
    url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__item,
    &__enter {
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__item:not(:last-child) {
        margin-right: 40px;
    }
    &__enter {
        border: 3px solid #fff;
        border-radius: 81px;
        padding: 14px 70px;
    }
}

@import 'media';